<mat-card class="user-detail-header">
    <button mat-icon-button class="pin-right-upper-corner" [matMenuTriggerFor]="userMenu">
        <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #userMenu="matMenu">
        <button mat-menu-item (click)="editUserDetail()">Edit</button>
    </mat-menu>

    <img src="assets/img/profile.png">
    <div class="user-details">
        <h2>{{ userDetail.firstName}} {{ userDetail.lastName}}</h2>
        {{ userDetail.email}}
    </div>
</mat-card>

<mat-card class="mt-32">
    <button mat-icon-button class="pin-right-upper-corner" [matMenuTriggerFor]="addressMenu">
        <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #addressMenu="matMenu">
        <button mat-menu-item (click)="editMenu()">Edit</button>
    </mat-menu>

    <mat-card-header>
        <mat-card-title>Address</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        {{ userDetail.street}} <br>
        {{ userDetail.zipCode}} {{ userDetail.city}}
    </mat-card-content>
</mat-card>
